html {
  font-size: 62.5%;
}

body {
  font-family: ' Inter ', sans-serif;
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  min-height: 90vh;
  place-content: center;
}

.card {
  border-radius: 0.7rem;
  box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15);
  min-width: 25rem;
}

.card-horizontal {
  border-radius: 0.7rem;
  box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15);
  max-width: 32rem;
}

.box {
  width: 100%;
  min-height: 20rem;
  border-radius: 0.7rem;
  box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.15);
}

hr {
  border: 1px solid rgba(51, 51, 51, 0.062);
}

button {
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.444);
  cursor: pointer;
  display: block;
}

.wrapper {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90vw;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 90vw;
  }
}
